*.pdf
!GetReady_Python.pdf
!N1 book Deep-Learning-with-PyTorch.pdf
!N2 Hastie introduction to stat learning.pdf
!N3 book Machine Learning Civil Engineering_PT1.pdf
!N3 book Machine Learning Civil Engineering_PT2.pdf
!introduction-to-probability.pdf
*.ppt
*.pptx
*.doc
*.docx
Onedrive/
Codes/Bayesian_inference
Codes/Classification
Codes/Linear_regression
Codes/Neural_networks
Codes/Unsupervised_learning
.DS_Store
.ipynb_checkpoints/
